.NavbarContainer {
    background-color: #6DB33F;
    height: 50px;
}

.Navbar {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 18px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; 
}

.Navbar button {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 18px;
    height: auto;
    margin: 0 10px;
    padding: 8px;
    width: auto;
}

.Navbar button:hover {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 9px;
}

.Navbar-logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px;
}