.SignUp {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 94vh;
}

.FormContainer {
    border: 1px solid #777;
    border-radius: 10px;
    color: #000000;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 15px;
    width: fit-content;
}

.FormContainer .Title {
    font-size: 16px;
    opacity: 80%;
}

.FormContainer a {
    color: #0645AD;
}

.FormContainer button {
    color: #FFFFFF;
    background-color: #6DB33F;
    border-radius: 10px;
    border: none;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 14px;
    padding: 8px;
    width: 100%;
}
    
.FormContainer input {
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 14px;
    padding: 8px;
    width: 260px;
    opacity: 60%;
}

.FormContainer .Hint {
    font-size: 12px;
}

.Form-logo-image {
    height: 80px;
    width: 80px;
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}